body {
	font: 12px Arial, Tahoma, sans-serif;
}
h1 {
	font-size: 50px;
	color: #2E8B57;
	padding-top: 20px;
	padding-left: 17px;
}
.hidescription {
	color: #D1D1D1;
	font-size: 16px;
	padding-left: 19px;
}
.b3radius {
	: 3px;
}
#page_align {
	width: 1000px;
	margin: 35px auto;
	background: #FFF;
	box-shadow: 0px 1px 3px #DDDDDD;
	overflow: hidden;
}
#header {
	height: 95px;
	border-bottom: 3px #C7D4E1;
	background: #FFF;
}
#header_nav {
	height: 35px;
	border-bottom: solid 0px #F1F1F1;
}
#header_nav ul {
	list-style:none;
}
#header_nav ul li {
	float: left;
	line-height: 25px;
	padding:0 7px;
	border-right: solid 1px #F1F1F1;
}
#header_nav ul li:last-child {
	border-top: none;
}
#header_nav ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    color: #40382D;
    box-shadow: inset 0 -5px 0 #40382D;
   }
#header_nav ul li a:hover {
    box-shadow: inset 0 -60px 0 #40382D,
    2px 2px 3px rgba(0,0,0,0.3);
    color: #DECDA5;
}
#sidebar {
	width: 195px;
	border-right: solid 3px #98CA60;
	float: left;
}
#content {
	float: right;
	width: 800px;
	height:400px;
}
.clr {
	clear: both;
}
h1 {font-family:Pompadur,'Comic Sans MS',cursive;
font-size:55px;
}
input[type="text"] {
	border: 1px solid blue;
}
input[type="email"] {
	border: 1px solid blue;
}
.table_col {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: white;
	text-align: center;
	border-collapse: collapse;
	color: #3E4347;
}
.table_col th:first-child, .table_col td:first-child; {
	color: #F5F6F6;
}
.table_col th {
	font-weight: normal;
	border-bottom: 2px solid #F5E1A6;
	border-right: 20px solid white;
	border-left: 20 px solid white;
	padding: 8px 10px;
}
.table_col td {
	border-right: 20 px solid white;
	border-left: 20 px solid white;
	padding: 12px 10px;
	color: #8b8e91;
}
